@charset "UTF-8";
table{
	font-size:18px;
	padding:1px 1px;
}
.title{
	color:#FFF;
	text-align:center;
	width:110px;
	background:#000080;
	padding:1px 1px;
}
.btn{
	float :left ;
	margin-right:5px;
}
.has-error{
	background-color :#F37167 ;
}
.errorMessage{
	color:red;
	font-weight:lighter;
}