@charset "UTF-8";
table{
		font-size:18px;
		padding:1px 1px;
}
.deleteTodo{
	padding-top:10px;
	margin-bottom:5px;
	margin-left:10px;
}
.red{
	background-color :#F37167 !important ;
	color : #F30100 ;
}
table tr{
	background-color :#fff;
}
table tr:nth-child(odd){
	background-color :#99CCFF;
}
.center{
	text-align: center
}
h2{
	margin-left:10px;
}
.yes{
	margin-left:10px;
}
.no{
	margin-left:5px;
}