@charset "UTF-8";
.finish{
	text-decoration: line-through;
}
.red{
	background-color :#F37167 !important ;
	color : #F30100 ;
}
table tr{
	background-color :#fff;
}
table tr:nth-child(odd){
	background-color :#99CCFF;
}
.center{
	text-align: center;
}
.heading{
	text-align: center;
	background-color :#fff;
}
.btn{
	font-size: 15px;
	text-align:center;
	width:110px;
	background:#6BCBF6;
	border-radius:2px;
	box-shadow:1px 1px #1A6EA0;
}