<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link th:href="@{/css/editCss.css}"  rel="stylesheet"></link>
<link th:href="@{/css/header.css}"  rel="stylesheet"></link>
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

<title>Todo更新画面</title>
</head>
<body>
<div class="header">
	<h1>更新する作業</h1>
</div>
<div  class="header-line"></div>
<form method="post" action="/editTodo" th:object="${editTodoForm}">
	<table border="1">
		<tr>
			<th class="title">
				<label>変更後</label>
			</th>
			<th>
				<input type="text" th:field="*{item_name}"
				th:classappend="${#fields.hasErrors('item_name')} ? 'has-error'">
				<br th:classappend="${#fields.hasErrors('item_name')} ? 'has-error'">
				<span class="error" th:classappend="${#fields.hasErrors('item_name')} ? 'errorMessage'"
					th:errors="*{item_name}">
					item_name error
				</span>
			</th>
		</tr>
		<tr>
			<th class="title">
				<label>担当者</label>
			</th>
			<th>
				<select id="user" th:field="*{user}">
					<option th:each="item:${userDate}"
							th:text="${item.Family_name + item.First_name}"
							th:value="${item.id}" th:selected="${item.id == editTodoForm.user}">
					</option>
				</select>
			</th>
		</tr>
		<tr>
			<th class="title">
				<label>期限</label>
			</th>
			<th>
				<input type="date" th:field="*{expire_date}"
				th:classappend="${#fields.hasErrors('item_name')} ? 'has-error'">
				<br th:classappend="${#fields.hasErrors('expire_date')} ? 'has-error'">
				<span class="error" th:classappend="${#fields.hasErrors('expire_date')} ? 'errorMessage'"
					th:errors="*{expire_date}">
					item_name error
				</span>
			</th>
		</tr>
		<tr>
			<th class="title">
				<label>完了</label>
			</th>
			<th>
				<input type="checkbox" name = "end" th:value=1
					   th:checked = "*{end} == 1 ? true : false">完了
				<input type="hidden" name = "end" th:value=0>
			</th>
		</tr>
	</table>

	<input class="btn btn-primary" type="submit" value="更新">
	<input type = "hidden" th:field=*{finished_date}>
	<input type="hidden" th:field="*{id}">
	<input type="hidden" th:field="*{finished_date}">
</form>
<form method="get" action="/todoList">
	<input class="btn btn-primary" type="submit" value="戻る">
</form>
</body>
</html>